a {
    border-bottom: 4px solid #d2d2d2;
    text-decoration: none;
    transition: border-bottom .25s;
    color: #262626
}

a:hover {
    border-bottom: 4px solid #ff000f
}

a:active {
    border-bottom: 4px solid #c42220
}

a.cta-button,button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none
}

a.cta-button {
    border-bottom: none;
    color: #262626
}

button {
    height: 40px;
    border-radius: 34px;
    background: #ff000f;
    text-align: center;
    color: #fff;
    transition: background-color .25s;
    border: 0;
    display: block;
    padding: 0 36px
}

button.white:hover,button:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2)
}

button:active {
    background: #c42220
}

button:focus {
    outline-style: none
}

button.white {
    height: 40px;
    background: #fff;
    color: #262626
}

button.white:active,tr:hover {
    background: #f0f0f0
}

.buttonWithIcon {
line-height:24px;
text-decoration:none;
font-size:16px;
display:inline-block;
position:relative;
transition:background-color .25s;
padding:12px 12px 12px 48px;
border-bottom: none;
}

.buttonWithIcon:hover {
background-color:#f0f0f0;
border-bottom: none;
}

.buttonWithIcon:after {
border-bottom: none;
}

.buttonWithIcon .BrandIcons {
position:absolute;
left:12px;
font-size:24px;
display:inline;
}

[class*=" BrandIcons-"],[class^=BrandIcons-] {
font-family:ABBicons!important;
speak:none;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

.BrandIcons-download:before {
content:"\e907";
font-size:inherit;
}