.switch {
    margin-top: 18px;
    margin-bottom: 24px
}

.switch>input[type=checkbox] {
    display: none
}

.switch>label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 40px
}

.switch>label::before {
    background: #d2d2d2;
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: .3;
    transition: all .4s ease-in-out;
    width: 40px
}

.switch>label::after {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -4px;
    position: absolute;
    top: -8px;
    transition: all .3s ease-in-out;
    width: 24px
}

.switch>input[type=checkbox]:checked+label::before {
    background: #ff000f;
    opacity: 1
}

.switch>input[type=checkbox]:checked+label::after {
    background: #fff;
    left: 20px
}