h1,h2,h3,h4,h5 {
    font-weight: 700
}

h1,h1:before {
    font-size: 62px;
    line-height: 68px
}

h2,h2:before {
    font-size: 50px;
    line-height: 56px
}

h1:before,h2:before {
    content: '— \a';
    color: #ff000f;
    white-space: pre
}

h3 {
    font-size: 36px;
    line-height: 40px
}

h4 {
    font-size: 25px;
    line-height: 32px
}

h5,p.medium {
    font-size: 16px;
    line-height: 24px
}

p {
    font-size: 20px;
    line-height: 30px
}

p.lead {
    font-size: 32px;
    line-height: 40px
}

p.lead-medium {
    font-size: 25px;
    line-height: 32px
}

p.lead-small {
    font-size: 16px;
    line-height: 24px
}

p.quote,p.quote:before {
    font-size: 32px;
    font-weight: 500
}

p.quote {
    line-height: 40px
}

p.quote:before {
    content: '— \a';
    color: #ff000f;
    white-space: pre
}

p.quote span:before {
    content: '”'
}

p.quote span:after {
    content: '“'
}

p.category,p.note {
    color: #6e6e6e;
    font-size: 15px;
    line-height: 20px
}

p.category {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 16px;
    font-weight: 700
}

@media screen and (max-width:1280px) {
    h1,h1:before {
        font-size: 50px;
        line-height: 56px
    }

    h2,h2:before,h3 {
        font-size: 44px;
        line-height: 48px
    }

    h1:before,h2:before {
        content: '— \a';
        color: #ff000f;
        white-space: pre
    }
}

@media screen and (max-width:768px) {
    h1,h1:before {
        font-size: 44px;
        line-height: 48px
    }

    h2,h2:before {
        font-size: 36px;
        line-height: 40px
    }

    h1:before,h2:before {
        content: '— \a';
        color: #ff000f;
        white-space: pre
    }

    h3 {
        font-size: 25px;
        line-height: 32px
    }

    h4,p {
        font-size: 16px;
        line-height: 24px
    }

    h5,p.medium {
        font-size: 14px;
        line-height: 20px
    }

    p.lead,p.lead-medium,p.quote,p.quote:before {
        font-size: 20px;
        line-height: 25px
    }

    p.quote,p.quote:before {
        font-weight: 500
    }

    p.quote:before {
        content: '— \a';
        color: #ff000f;
        white-space: pre
    }

    p.quote span:before {
        content: '”'
    }

    p.quote span:after {
        content: '“'
    }

    p.note {
        color: #6e6e6e;
        font-size: 14px;
        line-height: 20px
    }
}
